html {
    background: #090909;
    color: #00ae8e;
}

*,
::before,
::after,
.lg\:border-gray-400 {
    border-color: #2e2e2e;
}

.contact-form__label {
    margin-block-start: 1rem;
}

.contact-form__label,
.contact-form__text-input {
    background: #090909;
    display: block;
}

.contact-form__textarea,
.contact-form__text-input {
    border-width: 1px;
    padding: .25rem .5rem;
}

.contact-form__textarea {
    background: #090909;
    block-size: 25rem;
    inline-size: 40rem;
}

.bg-gray-800,
.bg-tlgray-700 {
    background-color: #2e2e2e;
}
